/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    --font-heading: 'Irish Grover', cursive;
    --font-text: 'Habibi', serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 428px){
body {
    font-family: var(--font-text);
    font-size: 1.25em;
    color: var(--black);
    background-color: var(--white);
}
h1, h2, h3 {
    font-family: var(--font-heading);
}
h1 {
    font-size: 2.5em;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 0.75rem black;
}
h2 {
    font-size: 1.75em;
}
h3 {
    display: block;
    text-align: center;
    font-size: 1.25em;
    color: var(--black);
}
header{ 
    display: block;
    background: var(--green);
    padding: 20px;
}
header p {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    color: var(--white);
    font-size: 0.8em;
    font-weight: bold;
}
nav {
    margin: 0 auto;
}
nav h2 {
    visibility: hidden;
}
nav, ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}
nav a {
    text-decoration: none;
    color: var(--white);
    margin: 10px;   
}
nav .fruit {
    background-color: var(--orange);
    padding: 10px 102px;
    border-radius: 2px;
}
nav .veg{
    background-color: var(--orange);
    padding: 10px 75px;
    border-radius: 2px;
}
nav .top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--orange);
    border-radius: 10px;
    margin: 10px;
    padding: 15px 5px;
    border: 4px solid var(--white);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}
main h2 {
    padding: 20px;
}
main h3{
    padding: 20px;
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
	color: var(--white);
	padding: 20px;
    opacity: 0.75;
    position: absolute;
    z-index: 10;
}
figure img {
    width: auto;
    height: auto;
    padding: 20px;
}
footer section {
    padding: 20px;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
}
footer section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
#contact {
    margin: 20px;
    padding: 10px;
}
#hours {
    margin: 20px 5px 20px 5px;
}
address span {
    display: block;
    margin: 10px;
}
.hours-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hours-list div{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5px;
}
.hours-list dt {
    font-weight: bold;
    margin-right: 0;
}
.hours-list dd {
    margin-left: 0;
}
footer small {
    display: block;
    color: var(--green);
    text-align: center;
    font-weight: bold;
    padding: 10px 0 20px 0;
}
/* -------------------- MEDIA QUERY (medium) -------------------------------- */
@media screen and (min-width: 834px){
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
   nav, ul{
    flex-direction: row;
   }
   .fruit {
    margin: 40px 80px 20px 40px;
   }
   .veg {
    margin: 40px 80px 20px 40px;
   }
    #fruits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #veggies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 2;
    }
   footer section {
    flex-direction:  row;
    justify-content: space-evenly;
   }
   /*-------------------- MEDIA QUERY (large) ------------------------------------*/
   @media screen and (min-width: 1280px){
    #fruits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #veggies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}