/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS REST --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    --font-heading: 'Irish Grover', cursive;
    --font-text: 'Habibi', serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    font-family: var(--font-text);
    font-size: 1.25em;
    color: var(--black);
    background-color: var(--white);
    padding: 1rem;
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 2.5em;
    color: var(--white);
}

h2 {
    font-size: 1.75em;
    color: var(--black);
}

h3 {
    font-size: 1.25em;
    color: var(--black);
}

header {
    text-align: center;
    padding: 1rem;
    background: var(--green);
    width: 100%;
   
}
header p {
    color: var(--white);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 10px;
}
nav .top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
nav h2 {
    visibility: hidden;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

section {
    padding: 1rem;

}

figure {
    text-align: center;
}

#fruits figcaption {
    font-weight: bold;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#fruits span{
	display: block;
	font-weight: bold;
	background-color: var(--black);
	color: var(--white);
	border-radius: 8px;
	padding: 0.25rem;
}

figure img {
    width: auto;
    height: auto;
    border-radius: 4px;
}

footer section {
    text-align: center;
    padding: 1rem;
    background-color: var(--green);
    color: var(--white);
}
footer small{
    display: block;
    text-align: center;
    color: var(--green);
}
/*-------------------- MEDIA QUERY (small) --------------------------------*/
@media (min-width: 480px) {
    main {
        grid-template-columns: 1fr;
    }
    figure ul {
        grid-template-columns: 1fr;
    }
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    figure ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    figure ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1440px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
    figure ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
